
<main class="container">
		<section class="row">
			<div class="col-12">

<aside class="col-3 border border-light bg-white p-2">
	<article class="card my3">
		<div class="card-header">
			Catégories
		</div>
		<div class="card-body">
			<p>
				<a href=" {{ path('admin_categories_index') }} ">Liste des Catégories</a>
               
			</p>
			<p>
				<a href="{{ path('admin_categories_add') }}">Ajouter des Catégories</a>
			</p>
		</div>
	</article>
<div class="my 3">
	<article class="card my3">
		<div class="card-header">
			Produits
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_products_index') }}">Liste des Produits</a>
               
			</p>
			<p>
				<a href="{{ path('admin_products_add') }}">Ajouter un Produits</a>
			</p>
		</div>
	</article>
</div>
	<article class="card mb3">
		<div class="card-header">
			Utilisateurs

		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_users_index') }}">Liste des Utilisateurs
				</a>
                
			</p>

		</div>
	</article>


</aside>
</div>
</section>
</main>
