

{% extends "base.html.twig" %}

{% block title %}
	Creation coupon
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Ajouter un coupon<h1>



<main class="container">
	<section class="row">
		<div class="col-12 ">
			{{ form_start(couponForm) }}</div>

		<div class="col-md-6 col-12 my-2">{{ form_row(couponForm.code,  { attr: { 'class': 'form-control' }}) }}</div>
		<div class="col-md-6 col-12 my-2">{{ form_row(couponForm.description, { attr: { 'class': 'form-control' }}) }}</div>
		<div class="col-md-6 col-12 my-2">{{ form_row(couponForm.discount, { attr: { 'class': 'form-control' }}) }}</div> 	
		<div class="col-md-6 col-12 my-2">{{ form_row(couponForm.validity, { attr: { 'class': 'form-control' }}) }}</div>
		<div class="col-md-6 col-12 my-2">{{ form_row(couponForm.coupons_types, { attr: { 'class': 'form-control' }}) }}</div>
		<div class="col-md-6 col-12 my-2">{{ form_row(couponForm.max_usage, { attr: { 'class': 'form-control' }}) }}</div> 
		<div class="col-md-6 col-12 my-2">{{ form_row(couponForm.is_valid, { attr: { 'class': 'form-control' }}) }}</div>
		<div class="col-12 my-3">
		<button type="submit" class="btn achat">Créer le coupon</button>
	    </div>
	    {{ form_end(couponForm) }}
        </div>
    </section>
</main>

</div>
		</section>
	</main>


{% endblock %}
