{% extends "base.html.twig" %}

{% block javascripts %}
            {{ encore_entry_script_tags('checkout') }}
{% endblock %}

{% block title %}Panier de
	{{ app.user.firstname }}
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">


			{% if bascketsWithData | length >0 %}
				<div class="col-12 my-3">
					<h1>{{ app.user.firstname|capitalize }}
						voici votre panier</h1>
				</div>
				<table class="table">
					<thead>
						<tr>
						
							<th>Produit</th>
							<th>Prix</th>
							<th>Quantité</th>
							<th>Total</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for bascketWithData in bascketsWithData %}

							<tr class="my-1">
								<td>{{ bascketWithData.product.name }}</td>
								<td>
									{{ bascketWithData.product.price / 100 }}
									€</td>
								<td>
									{{ bascketWithData.quantity  }}
								</td>
								<td>{{ (bascketWithData.product.price / 100) * bascketWithData.quantity}} €</td>
								<td>
									<a href="{{ path ('bascket_cut' ,{'id': bascketWithData.product.id}) }}" class="btn btn-danger ">
										-
									</a>
									<a href="{{ path ('bascket_remove', {'id': bascketWithData.product.id} ) }}" class="btn btn-danger ">
										<i class="fa fa-user-circle-o" aria-hidden="true">
									</a>
									<a href="{{ path ('bascket_add' ,{'id': bascketWithData.product.id}) }}" class="btn btn-danger ">
										+
									</a>
								</td>
							</tr>

						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3" class="text-right">Total :
							</td>
							<td id="total">						
								{{ total }} €
							</td>

							<td><a href="{{ path ('bascket_removeAll') }}" class="btn btn-warning">
					supprimer le panier
				</a></td>
						</tr>
					</tfoot>
				
				
			</td>
		</tr>
	</tfoot>
</table>
{% else %}
<div class="col-12 my-3">
	<h1>{{ app.user.firstname|capitalize }}
		votre panier est vide !</h1>

{% endif %}
<div class="row col-12 my-2 justify-content-around">
{% if bascketsWithData | length >0 %}
<a class='achat link col-3 ' href="{{ path ('checkout') }}">Valider mon panier</a>
{% endif %}



<a class='achat link col-3 ' href="{{ path ('main') }}">Continuer mes achats</a>
</div>
</section>
</main>
{% endblock %}
