<main class="container">
	<section class="row">
		<div class="col-12 ">
			{{ form_start(userFormPartiel) }}</div>
		<div class="col-12 my-3">{{ form_row(userFormPartiel.firstname,  { attr: { 'class': 'form-control' }}) }}</div>
		<div class="col-12 my-3">{{ form_row(userFormPartiel.lastname, { attr: { 'class': 'form-control' }}) }}</div>
		<div class="col-12 my-3">{{ form_row(userFormPartiel.email, { attr: { 'class': 'form-control' }}) }}</div> 
		<div class="col-12 my-3">{{ form_row(userFormPartiel.adress, { attr: { 'class': 'form-control' }}) }}</div>	
		<div class="col-12 my-3">{{ form_row(userFormPartiel.zipcode, { attr: { 'class': 'form-control' }}) }}</div>
		<div class="col-12 my-3">{{ form_row(userFormPartiel.city, { attr: { 'class': 'form-control' }}) }}</div>	
		<div class="col-12 my-3">{{ form_row(userFormPartiel.roles, { attr: { 'class': 'form-control' }}) }}</div>	
	
		 <div class="col-12 my-3">
		<button type="submit" class="btn btn-primary">{{ button_label|default('AJOUTER') }}</button>
	    </div>
	    {{ form_end(userFormPartiel) }}
        </div>
    </section>
</main>


