<h1>
	Bonjour
	{{user.firstname|upper}}
	{{user.lastname|capitalize}} <br>
</h1>
<p>Jusqu'au {{ coupon.validity|date("d/m/Y") }} .</p>
<p>Vous avez {{ coupon.description }} avec le code {{ coupon.code }} . <br></p>
	

<p>
	A bientot sur RcCham
</p>