<p>
	Bonjour
	{{user.firstname|upper}}
	{{user.lastname|capitalize}}
</p>
<p>Jusqu'au {{ coupon.validity|date("d/m/Y") }} {{ coupon.description }} avec le code {{ coupon.code }} .
	
</p>
<p>
	A bientot sur RcCham
</p>